0 * 1 1 * /home/gibson/wled/colors.sh newyears
0 * 2 1 * /home/gibson/wled/colors.sh newyears
0 * 3 1 * /home/gibson/wled/colors.sh libby
0 * 4 1 * /home/gibson/wled/colors.sh libby
0 * 5 1 * /home/gibson/wled/colors.sh libby
0 * 6 1 * /home/gibson/wled/colors.sh libby
0 * 7 1 * /home/gibson/wled/colors.sh libby
0 * 8 1 * /home/gibson/wled/colors.sh libby
0 * 9 1 * /home/gibson/wled/colors.sh libby
0 * 10 1 * /home/gibson/wled/colors.sh winter
0 * 11 1 * /home/gibson/wled/colors.sh winter
0 * 12 1 * /home/gibson/wled/colors.sh winter
0 * 13 1 * /home/gibson/wled/colors.sh winter
0 * 14 1 * /home/gibson/wled/colors.sh winter
0 * 15 1 * /home/gibson/wled/colors.sh winter
0 * 16 1 * /home/gibson/wled/colors.sh winter
0 * 17 1 * /home/gibson/wled/colors.sh winter
0 * 18 1 * /home/gibson/wled/colors.sh winter
0 * 19 1 * /home/gibson/wled/colors.sh winter
0 * 20 1 * /home/gibson/wled/colors.sh winter
0 * 21 1 * /home/gibson/wled/colors.sh winter
0 * 22 1 * /home/gibson/wled/colors.sh winter
0 * 23 1 * /home/gibson/wled/colors.sh winter
0 * 24 1 * /home/gibson/wled/colors.sh winter
0 * 25 1 * /home/gibson/wled/colors.sh winter
0 * 26 1 * /home/gibson/wled/colors.sh winter
0 * 27 1 * /home/gibson/wled/colors.sh lisa
0 * 28 1 * /home/gibson/wled/colors.sh lisa
0 * 29 1 * /home/gibson/wled/colors.sh lisa
0 * 30 1 * /home/gibson/wled/colors.sh lisa
0 * 31 1 * /home/gibson/wled/colors.sh lisa
0 * 1 2 * /home/gibson/wled/colors.sh lisa
0 * 2 2 * /home/gibson/wled/colors.sh lisa
0 * 3 2 * /home/gibson/wled/colors.sh lisa
0 * 4 2 * /home/gibson/wled/colors.sh lisa
0 * 5 2 * /home/gibson/wled/colors.sh lisa
0 * 6 2 * /home/gibson/wled/colors.sh valentines
0 * 7 2 * /home/gibson/wled/colors.sh valentines
0 * 8 2 * /home/gibson/wled/colors.sh valentines
0 * 9 2 * /home/gibson/wled/colors.sh valentines
0 * 10 2 * /home/gibson/wled/colors.sh valentines
0 * 11 2 * /home/gibson/wled/colors.sh valentines
0 * 12 2 * /home/gibson/wled/colors.sh valentines
0 * 13 2 * /home/gibson/wled/colors.sh valentines
0 * 14 2 * /home/gibson/wled/colors.sh valentines
0 * 15 2 * /home/gibson/wled/colors.sh valentines
0 * 16 2 * /home/gibson/wled/colors.sh valentines
0 * 17 2 * /home/gibson/wled/colors.sh valentines
0 * 18 2 * /home/gibson/wled/colors.sh valentines
0 * 19 2 * /home/gibson/wled/colors.sh mike
0 * 20 2 * /home/gibson/wled/colors.sh mike
0 * 21 2 * /home/gibson/wled/colors.sh mike
0 * 22 2 * /home/gibson/wled/colors.sh mike
0 * 23 2 * /home/gibson/wled/colors.sh mike
0 * 24 2 * /home/gibson/wled/colors.sh mike
0 * 25 2 * /home/gibson/wled/colors.sh mike
0 * 26 2 * /home/gibson/wled/colors.sh mike
0 * 27 2 * /home/gibson/wled/colors.sh mike
0 * 28 2 * /home/gibson/wled/colors.sh dennis
0 * 1 3 * /home/gibson/wled/colors.sh dennis
0 * 2 3 * /home/gibson/wled/colors.sh dennis
0 * 3 3 * /home/gibson/wled/colors.sh dennis
0 * 4 3 * /home/gibson/wled/colors.sh dennis
0 * 5 3 * /home/gibson/wled/colors.sh dennis
0 * 6 3 * /home/gibson/wled/colors.sh dennis
0 * 7 3 * /home/gibson/wled/colors.sh dennis
0 * 8 3 * /home/gibson/wled/colors.sh dennis
0 * 9 3 * /home/gibson/wled/colors.sh dennis
0 * 10 3 * /home/gibson/wled/colors.sh dennis
0 * 11 3 * /home/gibson/wled/colors.sh dennis
0 * 12 3 * /home/gibson/wled/colors.sh dennis
0 * 13 3 * /home/gibson/wled/colors.sh ireland
0 * 14 3 * /home/gibson/wled/colors.sh ireland
0 * 15 3 * /home/gibson/wled/colors.sh ireland
0 * 16 3 * /home/gibson/wled/colors.sh ireland
0 * 17 3 * /home/gibson/wled/colors.sh ireland
0 * 18 3 * /home/gibson/wled/colors.sh easter
0 * 19 3 * /home/gibson/wled/colors.sh easter
0 * 20 3 * /home/gibson/wled/colors.sh easter
0 * 21 3 * /home/gibson/wled/colors.sh easter
0 * 22 3 * /home/gibson/wled/colors.sh easter
0 * 23 3 * /home/gibson/wled/colors.sh easter
0 * 24 3 * /home/gibson/wled/colors.sh easter
0 * 25 3 * /home/gibson/wled/colors.sh easter
0 * 26 3 * /home/gibson/wled/colors.sh easter
0 * 27 3 * /home/gibson/wled/colors.sh easter
0 * 28 3 * /home/gibson/wled/colors.sh easter
0 * 29 3 * /home/gibson/wled/colors.sh easter
0 * 30 3 * /home/gibson/wled/colors.sh easter
0 * 31 3 * /home/gibson/wled/colors.sh easter
0 * 1 4 * /home/gibson/wled/colors.sh easter
0 * 2 4 * /home/gibson/wled/colors.sh easter
0 * 3 4 * /home/gibson/wled/colors.sh easter
0 * 4 4 * /home/gibson/wled/colors.sh easter
0 * 5 4 * /home/gibson/wled/colors.sh easter
0 * 6 4 * /home/gibson/wled/colors.sh mothers
0 * 7 4 * /home/gibson/wled/colors.sh mothers
0 * 8 4 * /home/gibson/wled/colors.sh mothers
0 * 9 4 * /home/gibson/wled/colors.sh mothers
0 * 10 4 * /home/gibson/wled/colors.sh mothers
0 * 11 4 * /home/gibson/wled/colors.sh mothers
0 * 12 4 * /home/gibson/wled/colors.sh mothers
0 * 13 4 * /home/gibson/wled/colors.sh mothers
0 * 14 4 * /home/gibson/wled/colors.sh mothers
0 * 15 4 * /home/gibson/wled/colors.sh mothers
0 * 16 4 * /home/gibson/wled/colors.sh mothers
0 * 17 4 * /home/gibson/wled/colors.sh mothers
0 * 18 4 * /home/gibson/wled/colors.sh mothers
0 * 19 4 * /home/gibson/wled/colors.sh mothers
0 * 20 4 * /home/gibson/wled/colors.sh delany
0 * 21 4 * /home/gibson/wled/colors.sh delany
0 * 22 4 * /home/gibson/wled/colors.sh delany
0 * 23 4 * /home/gibson/wled/colors.sh delany
0 * 24 4 * /home/gibson/wled/colors.sh delany
0 * 25 4 * /home/gibson/wled/colors.sh delany
0 * 26 4 * /home/gibson/wled/colors.sh delany
0 * 27 4 * /home/gibson/wled/colors.sh delany
0 * 28 4 * /home/gibson/wled/colors.sh delany
0 * 29 4 * /home/gibson/wled/colors.sh delany
0 * 30 4 * /home/gibson/wled/colors.sh delany
0 * 1 5 * /home/gibson/wled/colors.sh usa
0 * 2 5 * /home/gibson/wled/colors.sh usa
0 * 3 5 * /home/gibson/wled/colors.sh usa
0 * 4 5 * /home/gibson/wled/colors.sh usa
0 * 5 5 * /home/gibson/wled/colors.sh usa
0 * 6 5 * /home/gibson/wled/colors.sh usa
0 * 7 5 * /home/gibson/wled/colors.sh usa
0 * 8 5 * /home/gibson/wled/colors.sh usa
0 * 9 5 * /home/gibson/wled/colors.sh usa
0 * 10 5 * /home/gibson/wled/colors.sh usa
0 * 11 5 * /home/gibson/wled/colors.sh usa
0 * 12 5 * /home/gibson/wled/colors.sh usa
0 * 13 5 * /home/gibson/wled/colors.sh usa
0 * 14 5 * /home/gibson/wled/colors.sh usa
0 * 15 5 * /home/gibson/wled/colors.sh usa
0 * 16 5 * /home/gibson/wled/colors.sh usa
0 * 17 5 * /home/gibson/wled/colors.sh usa
0 * 18 5 * /home/gibson/wled/colors.sh usa
0 * 19 5 * /home/gibson/wled/colors.sh usa
0 * 20 5 * /home/gibson/wled/colors.sh usa
0 * 21 5 * /home/gibson/wled/colors.sh usa
0 * 22 5 * /home/gibson/wled/colors.sh usa
0 * 23 5 * /home/gibson/wled/colors.sh usa
0 * 24 5 * /home/gibson/wled/colors.sh usa
0 * 25 5 * /home/gibson/wled/colors.sh usa
0 * 26 5 * /home/gibson/wled/colors.sh usa
0 * 27 5 * /home/gibson/wled/colors.sh usa
0 * 28 5 * /home/gibson/wled/colors.sh usa
0 * 29 5 * /home/gibson/wled/colors.sh usa
0 * 30 5 * /home/gibson/wled/colors.sh usa
0 * 31 5 * /home/gibson/wled/colors.sh usa
0 * 1 6 * /home/gibson/wled/colors.sh juneteenth
0 * 2 6 * /home/gibson/wled/colors.sh juneteenth
0 * 3 6 * /home/gibson/wled/colors.sh juneteenth
0 * 4 6 * /home/gibson/wled/colors.sh juneteenth
0 * 5 6 * /home/gibson/wled/colors.sh juneteenth
0 * 6 6 * /home/gibson/wled/colors.sh juneteenth
0 * 7 6 * /home/gibson/wled/colors.sh juneteenth
0 * 8 6 * /home/gibson/wled/colors.sh juneteenth
0 * 9 6 * /home/gibson/wled/colors.sh juneteenth
0 * 10 6 * /home/gibson/wled/colors.sh juneteenth
0 * 11 6 * /home/gibson/wled/colors.sh juneteenth
0 * 12 6 * /home/gibson/wled/colors.sh juneteenth
0 * 13 6 * /home/gibson/wled/colors.sh juneteenth
0 * 14 6 * /home/gibson/wled/colors.sh emjay
0 * 15 6 * /home/gibson/wled/colors.sh emjay
0 * 16 6 * /home/gibson/wled/colors.sh emjay
0 * 17 6 * /home/gibson/wled/colors.sh emjay
0 * 18 6 * /home/gibson/wled/colors.sh juneteenth
0 * 19 6 * /home/gibson/wled/colors.sh juneteenth
0 * 20 6 * /home/gibson/wled/colors.sh emjay
0 * 21 6 * /home/gibson/wled/colors.sh emjay
0 * 22 6 * /home/gibson/wled/colors.sh emjay
0 * 23 6 * /home/gibson/wled/colors.sh sidney
0 * 24 6 * /home/gibson/wled/colors.sh sidney
0 * 25 6 * /home/gibson/wled/colors.sh sidney
0 * 26 6 * /home/gibson/wled/colors.sh sidney
0 * 27 6 * /home/gibson/wled/colors.sh sidney
0 * 28 6 * /home/gibson/wled/colors.sh sidney
0 * 29 6 * /home/gibson/wled/colors.sh sidney
0 * 30 6 * /home/gibson/wled/colors.sh usa
0 * 1 7 * /home/gibson/wled/colors.sh usa
0 * 2 7 * /home/gibson/wled/colors.sh usa
0 * 3 7 * /home/gibson/wled/colors.sh usa
0 * 4 7 * /home/gibson/wled/colors.sh usa
0 * 5 7 * /home/gibson/wled/colors.sh usa
0 * 6 7 * /home/gibson/wled/colors.sh usa
0 * 7 7 * /home/gibson/wled/colors.sh usa
0 * 8 7 * /home/gibson/wled/colors.sh usa
0 * 9 7 * /home/gibson/wled/colors.sh usa
0 * 10 7 * /home/gibson/wled/colors.sh usa
0 * 11 7 * /home/gibson/wled/colors.sh usa
0 * 12 7 * /home/gibson/wled/colors.sh usa
0 * 13 7 * /home/gibson/wled/colors.sh usa
0 * 14 7 * /home/gibson/wled/colors.sh usa
0 * 15 7 * /home/gibson/wled/colors.sh usa
0 * 16 7 * /home/gibson/wled/colors.sh usa
0 * 17 7 * /home/gibson/wled/colors.sh usa
0 * 18 7 * /home/gibson/wled/colors.sh usa
0 * 19 7 * /home/gibson/wled/colors.sh usa
0 * 20 7 * /home/gibson/wled/colors.sh usa
0 * 21 7 * /home/gibson/wled/colors.sh usa
0 * 22 7 * /home/gibson/wled/colors.sh usa
0 * 23 7 * /home/gibson/wled/colors.sh usa
0 * 24 7 * /home/gibson/wled/colors.sh usa
0 * 25 7 * /home/gibson/wled/colors.sh usa
0 * 26 7 * /home/gibson/wled/colors.sh usa
0 * 27 7 * /home/gibson/wled/colors.sh usa
0 * 28 7 * /home/gibson/wled/colors.sh usa
0 * 29 7 * /home/gibson/wled/colors.sh usa
0 * 30 7 * /home/gibson/wled/colors.sh usa
0 * 31 7 * /home/gibson/wled/colors.sh usa
0 * 1 8 * /home/gibson/wled/colors.sh summer
0 * 2 8 * /home/gibson/wled/colors.sh summer
0 * 3 8 * /home/gibson/wled/colors.sh summer
0 * 4 8 * /home/gibson/wled/colors.sh summer
0 * 5 8 * /home/gibson/wled/colors.sh summer
0 * 6 8 * /home/gibson/wled/colors.sh summer
0 * 7 8 * /home/gibson/wled/colors.sh summer
0 * 8 8 * /home/gibson/wled/colors.sh summer
0 * 9 8 * /home/gibson/wled/colors.sh summer
0 * 10 8 * /home/gibson/wled/colors.sh summer
0 * 11 8 * /home/gibson/wled/colors.sh summer
0 * 12 8 * /home/gibson/wled/colors.sh summer
0 * 13 8 * /home/gibson/wled/colors.sh summer
0 * 14 8 * /home/gibson/wled/colors.sh summer
0 * 15 8 * /home/gibson/wled/colors.sh summer
0 * 16 8 * /home/gibson/wled/colors.sh summer
0 * 17 8 * /home/gibson/wled/colors.sh summer
0 * 18 8 * /home/gibson/wled/colors.sh summer
0 * 19 8 * /home/gibson/wled/colors.sh summer
0 * 20 8 * /home/gibson/wled/colors.sh summer
0 * 21 8 * /home/gibson/wled/colors.sh summer
0 * 22 8 * /home/gibson/wled/colors.sh summer
0 * 23 8 * /home/gibson/wled/colors.sh summer
0 * 24 8 * /home/gibson/wled/colors.sh summer
0 * 25 8 * /home/gibson/wled/colors.sh summer
0 * 26 8 * /home/gibson/wled/colors.sh summer
0 * 27 8 * /home/gibson/wled/colors.sh summer
0 * 28 8 * /home/gibson/wled/colors.sh summer
0 * 29 8 * /home/gibson/wled/colors.sh labor
0 * 30 8 * /home/gibson/wled/colors.sh labor
0 * 31 8 * /home/gibson/wled/colors.sh labor
0 * 1 9 * /home/gibson/wled/colors.sh labor
0 * 2 9 * /home/gibson/wled/colors.sh labor
0 * 3 9 * /home/gibson/wled/colors.sh labor
0 * 4 9 * /home/gibson/wled/colors.sh labor
0 * 5 9 * /home/gibson/wled/colors.sh fall
0 * 6 9 * /home/gibson/wled/colors.sh fall
0 * 7 9 * /home/gibson/wled/colors.sh fall
0 * 8 9 * /home/gibson/wled/colors.sh fall
0 * 9 9 * /home/gibson/wled/colors.sh fall
0 * 10 9 * /home/gibson/wled/colors.sh fall
0 * 11 9 * /home/gibson/wled/colors.sh fall
0 * 12 9 * /home/gibson/wled/colors.sh fall
0 * 13 9 * /home/gibson/wled/colors.sh fall
0 * 14 9 * /home/gibson/wled/colors.sh fall
0 * 15 9 * /home/gibson/wled/colors.sh fall
0 * 16 9 * /home/gibson/wled/colors.sh fall
0 * 17 9 * /home/gibson/wled/colors.sh fall
0 * 18 9 * /home/gibson/wled/colors.sh fall
0 * 19 9 * /home/gibson/wled/colors.sh fall
0 * 20 9 * /home/gibson/wled/colors.sh fall
0 * 21 9 * /home/gibson/wled/colors.sh fall
0 * 22 9 * /home/gibson/wled/colors.sh fall
0 * 23 9 * /home/gibson/wled/colors.sh fall
0 * 24 9 * /home/gibson/wled/colors.sh fall
0 * 25 9 * /home/gibson/wled/colors.sh fall
0 * 26 9 * /home/gibson/wled/colors.sh fall
0 * 27 9 * /home/gibson/wled/colors.sh fall
0 * 28 9 * /home/gibson/wled/colors.sh fall
0 * 29 9 * /home/gibson/wled/colors.sh fall
0 * 30 9 * /home/gibson/wled/colors.sh fall
0 * 1 10 * /home/gibson/wled/colors.sh fall
0 * 2 10 * /home/gibson/wled/colors.sh fall
0 * 3 10 * /home/gibson/wled/colors.sh fall
0 * 4 10 * /home/gibson/wled/colors.sh fall
0 * 5 10 * /home/gibson/wled/colors.sh fall
0 * 6 10 * /home/gibson/wled/colors.sh fall
0 * 7 10 * /home/gibson/wled/colors.sh fall
0 * 8 10 * /home/gibson/wled/colors.sh fall
0 * 9 10 * /home/gibson/wled/colors.sh fall
0 * 10 10 * /home/gibson/wled/colors.sh fall
0 * 11 10 * /home/gibson/wled/colors.sh fall
0 * 12 10 * /home/gibson/wled/colors.sh fall
0 * 13 10 * /home/gibson/wled/colors.sh fall
0 * 14 10 * /home/gibson/wled/colors.sh halloween
0 * 15 10 * /home/gibson/wled/colors.sh halloween
0 * 16 10 * /home/gibson/wled/colors.sh halloween
0 * 17 10 * /home/gibson/wled/colors.sh halloween
0 * 18 10 * /home/gibson/wled/colors.sh halloween
0 * 19 10 * /home/gibson/wled/colors.sh halloween
0 * 20 10 * /home/gibson/wled/colors.sh halloween
0 * 21 10 * /home/gibson/wled/colors.sh halloween
0 * 22 10 * /home/gibson/wled/colors.sh halloween
0 * 23 10 * /home/gibson/wled/colors.sh halloween
0 * 24 10 * /home/gibson/wled/colors.sh halloween
0 * 25 10 * /home/gibson/wled/colors.sh halloween
0 * 26 10 * /home/gibson/wled/colors.sh halloween
0 * 27 10 * /home/gibson/wled/colors.sh halloween
0 * 28 10 * /home/gibson/wled/colors.sh halloween
0 * 29 10 * /home/gibson/wled/colors.sh halloween
0 * 30 10 * /home/gibson/wled/colors.sh halloween
0 * 31 10 * /home/gibson/wled/colors.sh halloween
0 * 1 11 * /home/gibson/wled/colors.sh thanksgiving
0 * 2 11 * /home/gibson/wled/colors.sh thanksgiving
0 * 3 11 * /home/gibson/wled/colors.sh thanksgiving
0 * 4 11 * /home/gibson/wled/colors.sh thanksgiving
0 * 5 11 * /home/gibson/wled/colors.sh thanksgiving
0 * 6 11 * /home/gibson/wled/colors.sh thanksgiving
0 * 7 11 * /home/gibson/wled/colors.sh thanksgiving
0 * 8 11 * /home/gibson/wled/colors.sh thanksgiving
0 * 9 11 * /home/gibson/wled/colors.sh thanksgiving
0 * 10 11 * /home/gibson/wled/colors.sh thanksgiving
0 * 11 11 * /home/gibson/wled/colors.sh thanksgiving
0 * 12 11 * /home/gibson/wled/colors.sh thanksgiving
0 * 13 11 * /home/gibson/wled/colors.sh thanksgiving
0 * 14 11 * /home/gibson/wled/colors.sh thanksgiving
0 * 15 11 * /home/gibson/wled/colors.sh thanksgiving
0 * 16 11 * /home/gibson/wled/colors.sh thanksgiving
0 * 17 11 * /home/gibson/wled/colors.sh thanksgiving
0 * 18 11 * /home/gibson/wled/colors.sh thanksgiving
0 * 19 11 * /home/gibson/wled/colors.sh thanksgiving
0 * 20 11 * /home/gibson/wled/colors.sh thanksgiving
0 * 21 11 * /home/gibson/wled/colors.sh thanksgiving
0 * 22 11 * /home/gibson/wled/colors.sh thanksgiving
0 * 23 11 * /home/gibson/wled/colors.sh thanksgiving
0 * 24 11 * /home/gibson/wled/colors.sh thanksgiving
0 * 25 11 * /home/gibson/wled/colors.sh thanksgiving
0 * 26 11 * /home/gibson/wled/colors.sh thanksgiving
0 * 27 11 * /home/gibson/wled/colors.sh thanksgiving
0 * 28 11 * /home/gibson/wled/colors.sh thanksgiving
0 * 29 11 * /home/gibson/wled/colors.sh thanksgiving
0 * 30 11 * /home/gibson/wled/colors.sh thanksgiving
0 * 1 12 * /home/gibson/wled/colors.sh xmas
0 * 2 12 * /home/gibson/wled/colors.sh xmas
0 * 3 12 * /home/gibson/wled/colors.sh xmas
0 * 4 12 * /home/gibson/wled/colors.sh xmas
0 * 5 12 * /home/gibson/wled/colors.sh xmas
0 * 6 12 * /home/gibson/wled/colors.sh xmas
0 * 7 12 * /home/gibson/wled/colors.sh xmas
0 * 8 12 * /home/gibson/wled/colors.sh xmas
0 * 9 12 * /home/gibson/wled/colors.sh xmas
0 * 10 12 * /home/gibson/wled/colors.sh xmas
0 * 11 12 * /home/gibson/wled/colors.sh xmas
0 * 12 12 * /home/gibson/wled/colors.sh xmas
0 * 13 12 * /home/gibson/wled/colors.sh xmas
0 * 14 12 * /home/gibson/wled/colors.sh xmas
0 * 15 12 * /home/gibson/wled/colors.sh xmas
0 * 16 12 * /home/gibson/wled/colors.sh xmas
0 * 17 12 * /home/gibson/wled/colors.sh xmas
0 * 18 12 * /home/gibson/wled/colors.sh xmas
0 * 19 12 * /home/gibson/wled/colors.sh xmas
0 * 20 12 * /home/gibson/wled/colors.sh xmas
0 * 21 12 * /home/gibson/wled/colors.sh xmas
0 * 22 12 * /home/gibson/wled/colors.sh xmas
0 * 23 12 * /home/gibson/wled/colors.sh xmas
0 * 24 12 * /home/gibson/wled/colors.sh xmas
0 * 25 12 * /home/gibson/wled/colors.sh xmas
0 * 26 12 * /home/gibson/wled/colors.sh newyears
0 * 27 12 * /home/gibson/wled/colors.sh newyears
0 * 28 12 * /home/gibson/wled/colors.sh newyears
0 * 29 12 * /home/gibson/wled/colors.sh newyears
0 * 30 12 * /home/gibson/wled/colors.sh newyears
0 * 31 12 * /home/gibson/wled/colors.sh newyears
